<div class="home-container">





    <main role="main" class="container" *ngIf="!loggedIn">
      <h1 class="mt-5">P2P Lending</h1>
      <p class="lead">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sapiente molestiae reprehenderit a nobis pariatur illum facere dignissimos, est distinctio rerum, temporibus officia odit saepe voluptatibus vitae eius voluptas odio totam.</p>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consectetur dolores animi aliquid, perferendis laudantium, accusamus porro sunt esse cumque magni perspiciatis error laboriosam optio, reprehenderit nesciunt fugiat alias eos veniam.</p>
    </main>

</div>
